ipykernel
numpy
tqdm
scikit-learn
matplotlib
pygame
optuna
gymnasium
gymnasium[other]
wandb
nbformat
torch --index-url https://download.pytorch.org/whl/cu130
torchvision --index-url https://download.pytorch.org/whl/cu130